::placeholder {
  margin-left: 10px;
  color: black;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, blue, rbg(79, 2, 107));
  font-weight: bold;
  color: white;
  font-size: 36px;
}

h1 {
  font-size: larger;
}
#container {
  height: inherit;
  display: flex;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form input,
button,
label {
  margin: 5px;
}

form label {
  font-weight: bolder;
  font-size: 30px;
}

#search {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#info-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
}

.spacer {
  border: 1px solid black;
  margin-top: 10px;
}

#city-input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 20px;
}

#search-btn {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 8px 0px;
  background-color: rgb(26, 170, 228);
  color: white;
  font-weight: bold;
}

#forecast-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#info-display {
  border: 1px solid black;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: bold;
}

.forecast-icon {
  align-self: center;
}
.forecast-header {
  align-self: center;
}

.flex-container {
  display: flex;
  justify-content: row;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.flex-container h2 {
  margin: 20px 20px 0px 0px;
}

.search-history {
  width: auto;
  background-color: gray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  font-weight: bold;
}

.search-history:hover {
  cursor: pointer;
  box-shadow: -2px 2px 3px black;
}

@media (max-width: 750px) {
  .forecast-container {
    margin-bottom: 20px;
  }
}

@media (max-width: 460px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #info-display p {
    text-align: center;
  }

  #main-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #forecast-display {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .forecast-container {
    margin-bottom: 20px;
  }

  .city-icon {
    height: 100px;
    width: 100px;
  }

  header {
    text-align: center;
  }
}
